
C++/Passionate/Passionate_24/Passionate/.vs/Passionate/FileContentIndex/9d308cc4-5543-409c-83ac-d10e1af35746.vsidx
C++/Passionate/Passionate_24/Passionate/.vs/Passionate/v17/Browse.VC.db
C++/Passionate/Passionate_24/Passionate/.vs/Passionate/v17/Browse.VC.db-shm
C++/Passionate/Passionate_24/Passionate/.vs/Passionate/v17/Browse.VC.db-wal
C++/Passionate/Passionate_24/Passionate/.vs/Passionate/v17/Browse.VC.opendb
C++/Passionate/Passionate_24/Passionate/Passionate.sln
C++/Passionate/Passionate_24/Passionate/Passionate/Passionate.vcxproj
C++/Passionate/Passionate_24/Passionate/Passionate/Passionate.vcxproj.filters
C++/Passionate/Passionate_24/Passionate/Passionate/Passionate.vcxproj.user
